#container{
    background-color: black;
    color: white;
    padding:20px 20px;
    width:50%;
    margin:auto;
    margin: top 100px;
    text-align: center;
    
}
body{
    background-color: black;
}

h1{
    border-bottom: 12px solid aqua;
    letter-spacing: 30px;
    border-width: 15px
}